.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    width: max-content;
    color: coral;
    font-size: 13px;
    border-bottom: .5px solid coral;
    margin: 3px 0;
}
.desc{
    font-size: 14px;
}

.star{
    color: gold;
}

.username{
    font-size: 14px;
}

.date{
    font-size: 12px;
}

form{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input,textarea{
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
    font-size: 12px;
    color: rgb(197, 191, 191);
}

.submitButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: coral;
    cursor: pointer;
}

.controls,.logout{
    position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}

.logout{
    background-color: coral;
}

.login{
    background-color: teal;
}

.register{
    background-color: slateblue;
}